# Least-squares fitting to estimate 3D rotation vector from 2D images 

This script estimates the rotational axis, for solid body rotation about an aribtrary axis in 3D, that gives rise to an observed displacement field computed from 2D images.  

Input list of point locations and displacement fields:
{(r_x, r_z)}_i for i in N

Params: (w_x, w_y, w_z)

Model = A*w, where A = [0 r_z -+ (R - r_x^2 -r_z^2)^(1/2); 1 -r_x 0]_{i} for i in N

Data: {(v_x, v_z)}_i for i in N

In [54]:
import numpy as np
import cv2
import pandas as pd
# Load the data
file = 'H:/2019 Monterey Trip/Vorticella_GM/2019_08_22/track10/Sphere007RotationTracks_Tmin_60_Tmax_90.csv'

R = 1 # Aggregate size
df = pd.read_csv(file)

nTracks = int(max(df['track ID']+1))

print(nTracks)

nTimepoints = int(len(df['Time'])/nTracks)
print(nTimepoints)

# generate a dict containing time series for each track
df_tracks = {ii : df.loc[df['track ID']==ii] for ii in range(nTracks)}

df_tracks

2
116

{0:      Unnamed: 0  track ID       Time  centroid X  centroid Y
 0             0       0.0  60.008025  870.571554  421.985855
 1             1       0.0  60.241555  876.617502  423.788601
 2             2       0.0  60.481319  886.402588  426.628815
 3             3       0.0  60.745621  890.124207  428.237000
 4             4       0.0  61.008494  888.877451  430.029232
 ..          ...       ...        ...         ...         ...
 111         111       0.0  88.511613  667.526155  341.107401
 112         112       0.0  88.809424  667.764559  338.584146
 113         113       0.0  89.058303  663.025606  339.066599
 114         114       0.0  89.304017  657.455416  337.413370
 115         115       0.0  89.535101  658.459261  340.320475

 [116 rows x 5 columns],
 1:      Unnamed: 0  track ID       Time  centroid X  centroid Y
 116           0       1.0  60.008025  680.536865  327.551697
 117           1       1.0  60.241555  685.879211  328.551239
 118           2       1.0  60.481319  698.550537  332.925194
 119           3       1.0  60.745621  728.012268  351.556450
 120           4       1.0  61.008494  717.662354  349.719688
 ..          ...       ...        ...         ...         ...
 227         111       1.0  88.511613  529.473320  221.079994
 228         112       1.0  88.809424  529.965019  221.304207
 229         113       1.0  89.058303  527.170605  221.147957
 230         114       1.0  89.304017  523.616894  221.672646
 231         115       1.0  89.535101  525.340649  222.512367

 [116 rows x 5 columns]}

{0:      Unnamed: 0  track ID       Time  centroid X  centroid Y
 0             0       0.0  60.008025  870.571554  421.985855
 1             1       0.0  60.241555  876.617502  423.788601
 2             2       0.0  60.481319  886.402588  426.628815
 3             3       0.0  60.745621  890.124207  428.237000
 4             4       0.0  61.008494  888.877451  430.029232
 ..          ...       ...        ...         ...         ...
 111         111       0.0  88.511613  667.526155  341.107401
 112         112       0.0  88.809424  667.764559  338.584146
 113         113       0.0  89.058303  663.025606  339.066599
 114         114       0.0  89.304017  657.455416  337.413370
 115         115       0.0  89.535101  658.459261  340.320475

 [116 rows x 5 columns],
 1:      Unnamed: 0  track ID       Time  centroid X  centroid Y
 116           0       1.0  60.008025  680.536865  327.551697
 117           1       1.0  60.241555  685.879211  328.551239
 118           2       1.0  60.481319  698.550537  332.925194
 119           3       1.0  60.745621  728.012268  351.556450
 120           4       1.0  61.008494  717.662354  349.719688
 ..          ...       ...        ...         ...         ...
 227         111       1.0  88.511613  529.473320  221.079994
 228         112       1.0  88.809424  529.965019  221.304207
 229         113       1.0  89.058303  527.170605  221.147957
 230         114       1.0  89.304017  523.616894  221.672646
 231         115       1.0  89.535101  525.340649  222.512367

 [116 rows x 5 columns]}

In [57]:
def residual(params, data):
    
    array_A = np.zeros((2,3))

    for ii in range(nTracks):
        
        centroids_x, centroids_z = np.array(df_tracks[ii]['centroid X']), np.array(df_tracks[ii]['centroid Y'])
        r_x, r_z = centroids_x[time_index], centroids_z[time_index]
        array_A[2*ii,:] = [0, r_z, (R- r_x**2 -r_z**2)**(1/2)]
        array_A[2*ii+1,:] = [1, -r_z, 0]
    
    print(array_A.shape)
    


for time_index in range(nTimepoints):
    array_A = np.zeros((2*nTracks,3))
    print(time_index)
    for ii in range(nTracks):
        
        centroids_x, centroids_z = np.array(df_tracks[ii]['centroid X']), np.array(df_tracks[ii]['centroid Y'])
        r_x, r_z = centroids_x[time_index], centroids_z[time_index]
        array_A[2*ii,:] = [0, r_z, (R- r_x**2 -r_z**2)**(1/2)]
        array_A[2*ii+1,:] = [1, -r_z, 0]
    
#     print('Time: {} \n Matrix: {}'.format(df['Time'][time_index], array_A))
    print(array_A.shape)

0
(4, 3)
1
(4, 3)
2
(4, 3)
3
(4, 3)
4
(4, 3)
5
(4, 3)
6
(4, 3)
7
(4, 3)
8
(4, 3)
9
(4, 3)
10
(4, 3)
11
(4, 3)
12
(4, 3)
13
(4, 3)
14
(4, 3)
15
(4, 3)
16
(4, 3)
17
(4, 3)
18
(4, 3)
19
(4, 3)
20
(4, 3)
21
(4, 3)
22
(4, 3)
23
(4, 3)
24
(4, 3)
25
(4, 3)
26
(4, 3)
27
(4, 3)
28
(4, 3)
29
(4, 3)
30
(4, 3)
31
(4, 3)
32
(4, 3)
33
(4, 3)
34
(4, 3)
35
(4, 3)
36
(4, 3)
37
(4, 3)
38
(4, 3)
39
(4, 3)
40
(4, 3)
41
(4, 3)
42
(4, 3)
43
(4, 3)
44
(4, 3)
45
(4, 3)
46
(4, 3)
47
(4, 3)
48
(4, 3)
49
(4, 3)
50
(4, 3)
51
(4, 3)
52
(4, 3)
53
(4, 3)
54
(4, 3)
55
(4, 3)
56
(4, 3)
57
(4, 3)
58
(4, 3)
59
(4, 3)
60
(4, 3)
61
(4, 3)
62
(4, 3)
63
(4, 3)
64
(4, 3)
65
(4, 3)
66
(4, 3)
67
(4, 3)
68
(4, 3)
69
(4, 3)
70
(4, 3)
71
(4, 3)
72
(4, 3)
73
(4, 3)
74
(4, 3)
75
(4, 3)
76
(4, 3)
77
(4, 3)
78
(4, 3)
79
(4, 3)
80
(4, 3)
81
(4, 3)
82
(4, 3)
83
(4, 3)
84
(4, 3)
85
(4, 3)
86
(4, 3)
87
(4, 3)
88
(4, 3)
89
(4, 3)
90
(4, 3)
91
(4, 3)
92
(4, 3)
93
(4, 3)
94
(4, 3)
95
(4, 3)
96
(4, 3)
97
(4, 3)
98
(4, 3)
99
(4, 3)
100
(4, 3)
101
(4, 3)
102
(4, 3)
103
(4, 3)
104
(4, 3)
105
(4, 3)
106
(4, 3)
107
(4, 3)
108
(4, 3)
109
(4, 3)
110
(4, 3)
111
(4, 3)
112
(4, 3)
113
(4, 3)
114
(4, 3)
115
(4, 3)

C:\Users\Deepak\Anaconda3\envs\gm_py3\lib\site-packages\ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in double_scalars

In [33]:
df_tracks[1]

     Unnamed: 0  track ID       Time  centroid X  centroid Y
116           0       1.0  60.008025  680.536865  327.551697
117           1       1.0  60.241555  685.879211  328.551239
118           2       1.0  60.481319  698.550537  332.925194
119           3       1.0  60.745621  728.012268  351.556450
120           4       1.0  61.008494  717.662354  349.719688
..          ...       ...        ...         ...         ...
227         111       1.0  88.511613  529.473320  221.079994
228         112       1.0  88.809424  529.965019  221.304207
229         113       1.0  89.058303  527.170605  221.147957
230         114       1.0  89.304017  523.616894  221.672646
231         115       1.0  89.535101  525.340649  222.512367

[116 rows x 5 columns]

In [49]:
df_tracks[0]

     Unnamed: 0  track ID       Time  centroid X  centroid Y
0             0       0.0  60.008025  870.571554  421.985855
1             1       0.0  60.241555  876.617502  423.788601
2             2       0.0  60.481319  886.402588  426.628815
3             3       0.0  60.745621  890.124207  428.237000
4             4       0.0  61.008494  888.877451  430.029232
..          ...       ...        ...         ...         ...
111         111       0.0  88.511613  667.526155  341.107401
112         112       0.0  88.809424  667.764559  338.584146
113         113       0.0  89.058303  663.025606  339.066599
114         114       0.0  89.304017  657.455416  337.413370
115         115       0.0  89.535101  658.459261  340.320475

[116 rows x 5 columns]